#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #0e0e0e;
  color: #f1f1f1;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

footer {
  display: flex;
  justify-content: flex-start;
}

.container {
  padding: 40px 20px;
  width: 100%;
}

.carousel-inner {
  width: 100%;
}

input[type="text"] {
  padding: 12px 16px;
  width: 70%;
  max-width: 400px;
  font-size: 18px;
  background-color: #1a1a1a;
  color: #fff;
  border: 1px solid #444;
  border-radius: 8px;
  margin-top: 20px;
}

.arrange {
  display: flex;
  flex-direction: column;
  gap: "5px";
  align-items: center;
}

.custom-carousel {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
  overflow: hidden;
  width: 90%;
  height: fit-content;
  margin: 0 auto;
}

.carousel-btn {
  width: fit-content !important;
  height: 150px;
}

button {
  padding: 10px 20px;
  width: 70%;
  margin-top: 20px;
  font-size: 16px;
  background-color: #ff2c91;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btn {
  width: 30%;
  height: fit-content;
  padding: 0.8rem 1rem;
  line-height: 1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.search {
  width: fit-content;
}

.foot {
  display: flex;
  flex-direction: column;
}

button:hover {
  background-color: #e0217e;
}

img {
  margin-top: 30px;
  max-width: 80%;
  border-radius: 12px;
  border: 1px solid #333;
}

.carousel-image {
  flex: 0 0 100%;
  max-width: 100%;
  height: auto;
  transition: transform 0.6s ease-in-out;
  border-radius: 12px;
  object-fit: cover;
}

.carousel-slider {
  display: flex;
  transition: transform 0.6s ease-in-out;
  width: 100%;
}

.carousel-viewport {
  width: fit-content;
  height: 850px;
  max-width: 512px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
}

.heading-stuff-1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.heading-stuff {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.landing h3 {
  font-size: 3.5rem;
  text-align: start;
}

.landing {
  max-width: 400px;
  padding-left: 30px;
}

@media (max-width: 375px) {
  .container {
    width: 100%;
  }

  .heading-stuff-1 {
    display: flex;
    width: 100%;
    gap: 0px;
    flex-direction: column;
  }

  .heading-h1 {
    display: flex;
    font-size: 35px;
    gap: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .heading-stuff {
    margin-top: 15px;
    justify-content: center;
  }

  .button-container {
    flex-wrap: wrap;
  }

  .btn-w {
    width: 70%;
    height: 40px;
    max-width: 150px;
  }

  .sec-head {
    font-size: 50px;
  }

  .search-gal {
    display: flex;
    gap: 15px;
    margin-bottom: 8px;
  }

  .custom-carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: center;
    overflow: hidden;
    width: 90%;
    height: fit-content;
    margin: 0 auto;
  }

  .carousel-viewport {
    width: 100%;
    height: 100%;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
  }

  .carousel-btn {
    width: fit-content;
    height: 100px;
    margin: 0;
    padding: 0;
  }

  .landing h3 {
    font-size: 1.5rem;
    text-align: center;
  }

  .landing {
    margin: 0px;
    padding: 5px;
  }

  .foot {
    flex-wrap: wrap;
    justify-content: center;
  }

  .foot-btn {
    width: 100%;
  }
}

@media (min-width: 376px) and (max-width: 428px) {
  .container {
    width: 100%;
  }

  .heading-stuff-1 {
    display: flex;
    width: 100%;
    gap: 0px;
    flex-direction: column;
  }

  .heading-h1 {
    display: flex;
    font-size: 2.4rem;
    gap: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .heading-stuff {
    margin-top: 15px;
    justify-content: center;
  }

  .button-container {
    flex-wrap: wrap;
  }

  .btn-w {
    width: 70%;
    height: 40px;
    max-width: 150px;
  }

  .sec-head {
    font-size: 65px;
  }

  .search-gal {
    display: flex;
    gap: 15px;
    margin-bottom: 8px;
  }

  .custom-carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: fit-content;
    margin: 0 auto;
  }

  .carousel-viewport {
    width: 100%;
    height: 100%;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
  }

  .carousel-btn {
    width: fit-content;
    height: 100px;
    margin: 0;
    padding: 0;
  }

  .landing h3 {
    font-size: 1.5rem;
    text-align: center;
  }

  .landing {
    margin: 0px;
    padding: 5px;
  }

  .foot {
    flex-wrap: wrap;
    justify-content: center;
  }

  .foot-btn {
    width: 100%;
  }
}

@media (min-width: 429px) and (max-width: 768px) {
  .container {
    width: 100%;
  }
  .heading-stuff-1 {
    display: flex;
    width: 100%;
    gap: 50px;
    align-items: center;
    margin-bottom: 30px;
  }

  .heading-h1 {
    display: flex;
    font-size: 3rem;
    gap: 15px;
    align-items: center;
    flex-direction: column;
    margin: 0px !important;
  }

  .custom-carousel {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
  }

  .carousel-viewport {
    width: 85%;
    height: 100%;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
  }

  .carousel-btn {
    width: fit-content;
    height: 100px;
    margin: 0;
    padding: 0;
  }

  .landing h3 {
    font-size: 2.2rem;
    text-align: start;
  }

  .foot {
    display: flex;
    flex-direction: row;
  }
  .foot-btn {
    width: 50%;
  }

  .search-gal1 {
    display: flex;
    gap: 10px;
  }

  .two {
    flex-direction: column;
    gap: 10px;
  }

  .search-gal2 {
    width: fit-content;
    justify-content: start;
  }

  .sec-head {
    font-size: 2.2rem;
    justify-content: center;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .landing h3 {
    font-size: 2rem;
    text-align: start;
  }

  .carousel-viewport {
    width: 90%;
    height: 100%;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
  }

  .foot {
    display: flex;
    flex-direction: row;
  }
  .foot-btn {
    width: 50%;
  }

  .search-gal1 {
    display: flex;
    gap: 20px;
    align-items: center;
  }
}

@media (min-width: 1024px) {
  .carousel-viewport {
    width: 100%;
    height: 100%;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
  }

  .landing h3 {
    font-size: 3rem;
    text-align: start;
  }

  .foot {
    display: flex;
    flex-direction: row;
  }
  .foot-btn {
    width: 40%;
  }

  .search-gal1 {
    display: flex;
    gap: 20px;
    align-items: center;
  }
}
